# Dependencies
node_modules/

# Local env
.env
.env.local
.env.*.local

# Build outputs
.next/
out/
dist/

# OpenNext & Vercel build artifacts
.vercel/

# Cloudflare build cache
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor files
.DS_Store
Thumbs.db
*.swp
*.swo

# Ignore accidental backups & temp files
*.bak
*.fixed
!functions/
!functions/.gitkeep
!functions/_worker.js
!functions
!/.open-next/_routes.json
.open-next/
!.open-next/_headers
