/* Hero */
.featured-hero {
  transform: translateZ(0);
  
}
.featured-hero img,
.featured-hero video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
  border-radius: 0 !important;
}
