/* Search */
.search-wrap {
  width: 100%;
  margin-top: 0 !important;
}
.search-bar {
  width: 100vw;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  @apply w-full flex items-center gap-2 bg-neutral-900/70 ring-1 ring-white/10 p-3;
}
